@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: 'Heebo', sans-serif;
  --color-emerald-500: #10B981;
  --color-emerald-600: #059669;
}

/* Hide scrollbar for category filter */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
